<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="helpModalLabel">TopHex</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>TopHex</strong> is a tool that allows you to check the <em>color content</em> of an image.
        To use the program on an image:</p>
        <ul>
          <li>
            securely upload an image from you local computer
          </li>
          <li>
            hit the random bottom to generate an image from <strong>Unsplash.com/sky</strong>
          </li>
        </ul>
        <p>
          After an image is imported into the interface, the <strong>top five</strong> hex colors will be shown under
          two categories: <em>complete</em> and <em>simplified</em>.
        </p>
        <dl>
          <dt>
            Complete palette
          </dt>
          <dd>
            Uses the original and complete range of hex colors in an image. May result in similar colors.
          </dd>
        </dl>
          <dt>
            Simplified palette
          </dt>
          <dd>
            Uses a simplified palette from the original. May result in diverse colors with possible information loss.
          </dd>
        </dl>
        <p>Only .jpg/.jpeg/.png image formats are supported.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>